html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 5px 15px;

  &.is-primary {
    border: 1px solid $rich-black;
    color: $rich-black;
    text-decoration: none;
    &:hover {
      color: $white;
      background-color: $rich-black;
    }
  }

  &.is-bottle-green {
    border: 1px solid $bottle-green;
    color: $bottle-green;
    text-decoration: none;
    &:hover {
      color: $white;
      background-color: $bottle-green;
    }
  }

  &.is-danger {
    border: 1px solid $danger;
    color: $danger;
    text-decoration: none;
    &:hover {
      color: $white;
      background-color: $danger;
    }
  }
}

@import "grid"
