<template>
  <div>
    <div class="grid">
      <div class="col-desk-12">
        <nuxt-link to="/">
          <h1 class="title">Nuxt-Shop</h1>
        </nuxt-link>
        <p>We will conquer the IT space</p>
      </div>
    </div>
    <nuxt />
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  created() {
    this.initialiseProducts();
  },
  methods: {
    ...mapActions(["initialiseProducts"])
  }
};
</script>

<style lang="scss">
@import "~/assets/scss/style.scss";

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.field {
  display: block;
  width: 280px;
  margin: 10px;
  label {
    display: flex;
    justify-content: space-between;
  }
  .error {
    color: $danger;
  }
}
</style>