<template>
  <div>
    <div class="container">
      <div class="grid">
        <div class="col-desk-12 mt-50">
          <div class="product mt-20">
            <div class="field">
              <b>Name:</b>
              {{ product.name }}
            </div>
            <div class="field">
              <b>Price:</b>
              {{ product.price }}
            </div>
            <div class="field">
              <b>Purchase date:</b>
              {{ product.purchase_date }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      product: {}
    };
  },
  created() {
    this.getById(this.$route.params.id).then(r => {
      this.product = r;
    });
  },
  methods: {
    ...mapActions(["getById"])
  }
};
</script>