<template>
  <div>
    <div class="container">
      <div class="grid">
        <div class="col-desk-12 mt-50">
          <h3>Create</h3>
          <form action @submit.prevent="store" class="mt-20">
            <div class="field">
              <label for="name">
                Name:
                <input type="text" id="name" v-model="product.name" />
              </label>
              <div class="error">{{ getError('name') }}</div>
            </div>
            <div class="field">
              <label for="price">
                Price:
                <input type="text" id="price" v-model="product.price" />
              </label>
              <div class="error">{{ getError('price') }}</div>
            </div>
            <div class="field">
              <label for="purchase_date">
                Purchase date:
                <input type="date" id="purchase_date" v-model="product.purchase_date" />
              </label>
              <div class="error">{{ getError('purchase_date') }}</div>
            </div>
            <div class="field">
              <button type="submit" class="button is-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import errorMixin from "@/mixins/error";
const productSchema = {
  name: "",
  price: "",
  purchase_date: ""
};

export default {
  mixins: [errorMixin],
  data() {
    return {
      product: JSON.parse(JSON.stringify(productSchema)),
      errors: []
    };
  },
  methods: {
    ...mapActions({ storeProduct: "store" }),
    store() {
      this.errors = [];

      Object.keys(this.product).forEach(key => {
        if (this.product[key] === "" || this.product[key].trim().length < 1) {
          this.errors[key] = key + " is required";
          this.errors.length++;
        }
      });

      if (this.errors.length === 0) {
        this.storeProduct(this.product);
        this.product = JSON.parse(JSON.stringify(productSchema));
        this.$router.push({ path: "/" });
      }
    }
  }
};
</script>

<style lang="scss" scoped>

</style>