<template>
  <div class="container">
    <div class="grid">
      <div class="col-desk-10 mt-50">
        <h4>Фильтры</h4>Цена:
        <select v-model="filters.price">
          <option value="desc">DESC</option>
          <option value="asc">ASC</option>
        </select>
        Дата покупки:
        <select v-model="filters.purchase_date">
          <option value="desc">DESC</option>
          <option value="asc">ASC</option>
        </select>
      </div>
      <div class="col-desk-2 mt-50">
        <nuxt-link to="/create" class="button is-primary">Добавить</nuxt-link>
      </div>
      <div class="col-desk-12">
        <table class="table mt-20">
          <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Дата покупки</th>
            <th></th>
          </tr>
          <tr v-for="product in filteredProducts.data" :key="product.id">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.purchase_date }}</td>
            <td>
              <div class="links">
                <nuxt-link :to="product.id+'/view'" class="button is-primary">Посмотреть</nuxt-link>
                <nuxt-link :to="product.id+'/edit'" class="button is-bottle-green">Редактировать</nuxt-link>
                <a @click.prevent="destroy(product.id)" class="button is-danger">Удалить</a>
              </div>
            </td>
          </tr>
        </table>
        <div class="pagination mt-20">
          <a @click.prevent="prevPage">&laquo;</a>
          <a
            v-for="page in filteredProducts.total_pages"
            @click.prevent="setCurrentPage(page)"
            :key="page"
            :class="{'active': page===filteredProducts.page}"
          >{{ page }}</a>
          <a @click.prevent="nextPage">&raquo;</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      pagination: {
        page: 1,
        limit: 2
      },
      filters: {
        price: "desc",
        purchase_date: "desc"
      }
    };
  },
  computed: {
    ...mapGetters(["PRODUCTS"]),
    filteredProducts() {
      let products = [...this.PRODUCTS];
      products = products
        .slice()
        .sort((a, b) =>
          this.filters.purchase_date === "asc"
            ? new Date(a.purchase_date) - new Date(b.purchase_date)
            : new Date(b.purchase_date) - new Date(a.purchase_date)
        )
        .sort((a, b) =>
          this.filters.price === "asc" ? a.price - b.price : b.price - a.price
        );

      return this.Paginator(
        products,
        this.pagination.page,
        this.pagination.limit
      );
    }
  },
  methods: {
    ...mapActions({
      destroyProduct: "destroy",
      setProductCurrentPage: "setCurrentPage"
    }),
    Paginator(items, page, per_page) {
      var page = page || 1,
        per_page = per_page || 10,
        offset = (page - 1) * per_page,
        paginatedItems = items.slice(offset).slice(0, per_page),
        total_pages = Math.ceil(items.length / per_page);
      return {
        page: page,
        per_page: per_page,
        pre_page: page - 1 ? page - 1 : null,
        next_page: total_pages > page ? page + 1 : null,
        total: items.length,
        total_pages: total_pages,
        data: paginatedItems
      };
    },
    destroy(id) {
      this.destroyProduct(id);
    },
    setCurrentPage(page) {
      this.pagination.page = page;
    },
    prevPage() {
      if (this.filteredProducts.page > 1) {
        this.pagination.page -= 1;
      }
    },
    nextPage() {
      if (this.filteredProducts.page < this.filteredProducts.total_pages) {
        this.pagination.page += 1;
      }
    }
  }
};
</script>

<style lang="scss">
.table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
</style>
